{% extends "meblog/base.html" %}

{% block content %}
    <div class="col-md-12">
        <h2>
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h2>
        {% if post.published_date %}<p><span class="glyphicon glyphicon-time"></span> {{ post.published_date }}</p>{% endif %}
            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                <hr>
                <p>{{ post.text|linebreaks }}</p>
        <hr>
    </div>
{% endblock %}