{% extends "meblog/base.html" %}

{% block content %}
<div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <!-- First Blog Post -->
                {% for post in posts %}
                        <div class="panel panel-default">
                            <div class="panel panel-heading">
                                <h2>
                                    <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>                        
                                </h2>
                            </div>
                            <div class="panel-body">                      
                                <i class="fa fa-calendar"></i> {{ post.published_date }} | <i class="fa fa-user"></i> {{ post.author.username }} | <i class="fa fa-archive"></i>  {{ post.category.category_name }}
                                <p>{{ post.text|linebreaks|truncatechars:200 }}</p>
                            </div>
                        </div>
                        <br/>
                {% endfor %}

                <div class="pagination">
                    <ul class="pagination">
                        {% if posts.has_previous %}
                            <li><a href="?page={{ post.previous_page_number }}">First</a></li>
                        {% endif %}
                        {% for pg in posts.paginator.page_range %}
                            {% if posts.number == pg %}
                                <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
                            {% else %}
                                <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if posts.has_next %}
                            <li><a href="?page={{ post.next_page_number }}">Last</a></li>
                        {% endif %}
                    </ul>
                </div>

            </div>

            
            <!-- Blog Sidebar Widgets Column -->
            {% include "meblog/sidebar.html" %}
            
</div>
{% endblock %}