{% extends "meblog/base.html" %}

{% block content %}
<div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <!-- First Blog Post -->
                {% for post in posts %}
                    <h2>
                        <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>                        
                    </h2>
                    <p><span class="glyphicon glyphicon-time"></span> {{ post.published_date }}</p>
                        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                            <hr>
                            <p>{{ post.text|linebreaks }}</p>
                    <hr>
                {% endfor %}

                <div class="pagination">
                    <ul class="pagination">
                        {% if posts.has_previous %}
                            <li><a href="?page={{ post.previous_page_number }}">First</a></li>
                        {% endif %}
                        {% for pg in posts.paginator.page_range %}
                            {% if posts.number == pg %}
                                <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
                            {% else %}
                                <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if posts.has_next %}
                            <li><a href="?page={{ post.next_page_number }}">Last</a></li>
                        {% endif %}
                    </ul>
                </div>

            </div>

            
            <!-- Blog Sidebar Widgets Column -->
            {% include "meblog/sidebar.html" %}
            
</div>
{% endblock %}